.webgl{
    height: 37em !important;
    width: 54em !important;
}
/* On screens that are 600px or less, set the background color to olive */
@media (max-width: 915px) {
    .webgl{
        height: 20em !important;
        width: 10em !important;
    }
  }
@media (max-width: 400px) {
    .webgl{
        height: 2em !important;
        width: 1em !important;
    }
  }