.webgl{
    height: 30em !important;
    width: 55em !important;
}
/* On screens that are 600px or less, set the background color to olive */
@media (max-width: 915px) {
    .webgl{
        height: 20em !important;
        width: 33em !important;
    }
  }
@media (max-width: 541px) {
    .webgl{
        height: 14em !important;
        width: 23em !important;
    }
  }
@media (max-width: 400px) {
    .webgl{
        height: 10em !important;
        width: 18em !important;
    }
  }